<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hugo.guitarledgend">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.stats.StatsGlobalActivity" />
        <activity android:name=".activities.AddChooseActivity" />
        <activity android:name=".activities.ChooseSpeedActivity" />
        <activity android:name=".activities.ChoosePartitionActivity" />
        <activity android:name=".activities.AddPartitionActivity" />
        <activity android:name=".activities.AskingPlayActivity" />
        <activity android:name=".activities.stats.ChoosePartitionInStatsActivity" />
        <activity android:name=".activities.stats.StatsDetailActivity" />
        <activity android:name=".activities.PartitionPlayingActivity" />
        <activity
            android:name=".activities.profiles.ProfilesActivity"
            android:label="@string/title_activity_profils"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.PostPlayingActivity" />
        <activity android:name=".activities.HelpActivity"></activity>
    </application>

</manifest>